* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    align-items: center;
    /* border: 1px solid red; */
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed left;
    /* position: fixed; */
    top:0;
    z-index: 1;
    height: 70px;
    border-bottom: 1px solid seashell;
    width: 100%;
}

main {
    flex-direction: column;
}

#logo {
    height: 50px;
    padding: 10px;
}

.container {
    display: flex;
    /* align-content: center; */
    /* align-items: center; */
    justify-content: center;
}

nav {
    justify-content: space-around;
}

nav>a {
    padding: 10px;
}

#mission>img {
    height: 700px;
    width: 1200px;
    object-fit: cover;
}

#mbanner {
    position: absolute;
    width: 1200px;
    opacity: 100%;
}

#TOTM {
    max-width: 1000px;
}

#TOTMgallery {
    flex-wrap: wrap;
}



#TOTMgallery>img, #TOTMgallery>figure>img {
    height: 200px;
    width: 300px;
    margin: 10px;
}

#locations>img {
    height: 500px;
    width: 1200px;
    object-fit: cover;
}