* {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    border: 1px solid red;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed left;
    z-index: 1;
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
}
