.style {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.container, .container>a {
    display: flex;
    border: 1px solid red;
    /* align-items: center; */
    padding: 10px
}

.fixed {
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
}

nav {
    justify-content: space-between;
}

a {
    text-decoration: underline;
    color: seashell;
}

.mission {
    justify-content: space-around;
    align-items: center;
    height: 700px;
}

main {
    display: flex;
}