* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

.container {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.centerjs {
    justify-content: center;
}

#body {
    /* flex-direction: column; */
    align-items: center;
}

#topbar {
    height: 69px;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    padding: 10px;
    position: fixed;
    background-color: black;
}

#icon, #icon>img {
    height: 50px;
}

#menu>a {
    padding: 10px;
    color: seashell;
}

#hero {
    background: url(Media/img-mission-background.webp);
    height: 700px;
    width: 1200px;
    justify-content: center;
    margin-top: 70px;
}

#hero_banner {
    background-color: black;
    padding: 10px 0;
}

#TOTM {
    width: 1000px;
}

#TOTM h2 {
    padding: 20px;
    padding-top: 50px;
}

#TOTM>h4 {
    padding: 20px;
}

#TOTMGallery>figure>img {
    height: 200px;
    width: 300px;
    padding: 10px 0;
    object-fit: cover;
}

figure + figure {
    padding-left: 50px;
}

#locations {
    height: 500px;
    width: 1200px;
    background-image: url(/Media/img-locations-background.webp);
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.address {
    background-color: black;
    margin-top: 15px;
    margin-right: 40px;
    height: 300px;
    width: 300px;
    justify-content: space-around;
}